body {
  box-sizing: border-box;
  padding: 16px;
  background: #222;
  color: white;
  font-family: sans-serif;
  display: flex;
  margin: 0;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

button {
  padding: 16px;
  border: none;
  margin: 4px;
  cursor: pointer;
  color: white;
  background: #00a4db;
  border-radius: 32px;
}

button:hover {
  background: #028cba;
}

button.selected {
  background: #014359;
}

.question, .result {
  text-align: center;
}

@media screen and (max-width: 400px) {

  button {
    width: 90vw;
    height: 64px;
    font-size: 24px;
  }

}